* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  overflow-x: hidden;
}
.utilities {
  border: 1px solid;
  padding: 10px;
  border-radius: 15px;
}
.utilities input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  background: transparent;
  padding: 5px 3px;
  transition: 0.5s;
}
.utilities input[type="text"]:focus {
  border-color: #590c05;
}
.utilities ::placeholder {
  color: #fff;
}
.utilities.col-3 {
  background: #4f17b3;
  color: #fff;
}
.utilities.col-6 {
  background: #4f17b3;
  color: #fff;
}
.utilities-button {
  outline: none;
  background: #4f17b3;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.5s;
}
.utilities-button:hover {
  background: #590c05;
  transform: perspective(100px) rotateY(20deg);
}
.card-p {
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.card-p:hover {
  box-shadow: -15px 15px 30px #000;
  z-index: 1000;
  transform: perspective(800px) rotateY(20deg) scale(1.1);
}
.card-body p.card-text {
  border-top: 1px solid;
  text-align: justify;
}
.card-title {
  padding-top: 1em;
  border-top: 1px dashed;
  font-weight: 800;
}
.card ul li {
  position: relative;
  transition: 0.5s;
  background: transparent;
}
.card ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.5s;
}
.card ul li:hover::before {
  background-color: rgb(18, 18, 156);
  width: 0%;
}
.card ul li:hover {
  background-color: #6632be;
  color: #fff;
  cursor: pointer;
}
/*Toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(40, 167, 69);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(40, 167, 69);
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*Toggle*/

.carousel-item img {
  max-height: 500px;
  height: 300px;
}
.descripcion {
  position: relative;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 10px;
  overflow: hidden;
}
.descripcion::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #b8361f;
  transform: skew(35deg);
  opacity: 0.7;
  transition: 0.5s;
}
.descripcion:hover::before {
  transform: scale(1.5) skew(35deg);
}
.descripcion::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #0ec477;
  transform: skew(-35deg);
  opacity: 0.6;
  transition: 0.5s;
}
.descripcion:hover::after {
  transform: scale(1.5) skew(-35deg);
}
.descripcion ul {
  list-style: none;
  text-align: left;
}
.descripcion p {
  text-align: left;
}
.col-2 ul {
  list-style: none;
}
.col-5 img {
  max-width: 255px;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.bi{
  transition: 0.5s;
  cursor: pointer;
}
.bi:hover{
  transform: scale(1.3);
}

.divBtn {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  z-index: 10;
}
.btnFlotante {
  height: 50px;
  width: 200px;
  border: 1px solid #000;
}
.btn-img{
  border: 1px solid #000;
  height: 300px;
}
.formulario{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formulario span{
  font-weight: 900;
  
}
.formulario input:focus ~ span,
.formulario textarea:focus ~ span{
  text-shadow: 8px 7px 20px rgb(255, 255, 255);
}
.formulario input, .formulario textarea{
  background: transparent;
  margin: 10px 10px;
  width: 90%;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
  padding-left: 5px;
}

.formulario div.fle{
  flex-direction: row;
  width: 90%;
}
.formulario div.brdr {
  border: 1px solid #6ae920;
  border-radius: 25px;
}

.formulario div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.span-height{
  height: 50%;
}
footer select{
  height: 50%;
  width: 65px;
}
li.nav-item{
  padding: 10px;
  cursor: pointer;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
li.nav-item.active{
  background: #4f17b3;
  color: #fff;
  border-color: #fff;
}
#exampleModal2 .modal-body{
  background: rgba(42, 59, 63, 1);
}
#exampleModal2 .modal-header{
  background: #0ec477;
  color: #fff;
}
.modal-header button{
  background: #0ec477;
  color: red;
}
tbody tr{
  position: relative;
  transition: 0.5s;
}
tbody tr:hover{
  background: #000;
  box-shadow:0 5px 25px #0ec477;
}